* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

:root {
  --card-bg: #cb1e41bd;
  --shadow: 2px 5px 5px darkgray;
  --white: whitesmoke;
  --border-gray: 2px solid darkgray;
}

#sitio{
  padding: 2em;
}

section{
  margin: 25px 0;
}
h1 {
  margin-bottom: 0.5rem;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: var(--card-bg);
  color: var(--white);
  font-weight: bold;
  box-shadow: var(--shadow);
  transition: box-shadow 0.5s;
}

button:hover {
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.5s;
}

#developer {
  margin: 1rem auto;
  display: block;
}

.card-header {
  box-shadow: var(--shadow);
  border-radius: 10px;
  width: 40%;
  margin: 1.5rem auto;
  padding: 1rem;
  color: var(--white);
  background-color: var(--card-bg);
}

#fila {
  display: flex;
  justify-content: space-around;
}

.caja {
  text-align: center;
  border: var(--border-gray);
  box-shadow: var(--shadow);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: box-shadow 0.5s;
}

.dark{
  background-color: black;
  color: white;
}

.caja:hover {
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.5s;
}

.caja img {
  width: 70%;
}

.lenguajes,
.bimestre {
  margin: 0.5rem auto;
}

#card {
  margin: 25px auto;
  padding: 25px;
  color: var(--white);
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: var(--shadow);
}

#sobre-mi {
  margin: 15px 0;
  margin-bottom: 1.5rem;
}

.oculto{
  visibility: hidden;
}

@media only screen and (max-width: 464px){

  #developer{
    width: 50%;
  }

  #completar-perfil, #obtener-materias, #cambiar-tema{
    position: relative;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 60%;
  }

  .card-header{
    width: 100%;
  }

  h3 {
    margin: 0.5rem auto;
  }

  #fila{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .caja{
    width: 100%;
    margin-bottom: 5%;
  }

  #card{
    width: 100%;
  }

  small{
    display: none;
  }

  .botonMostrar{
    background-color: beige;
    color: #000;
  }

}

@media only screen and (min-width: 465px) and (max-width: 1365px){

  h1{
    font-size: 5vh;
  }

  #developer{
    width: 40%;
  }

  button{
    font-size: 2vh;
  }

  #completar-perfil, #obtener-materias, #cambiar-tema{
    position: relative;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 60%;
  }

  .card-header{
    width: 100%;
  }

  h3 {
    margin: 0.5rem auto;
  }

  #fila{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .caja{
    width: 70%;
    margin-bottom: 5%;
  }

  .caja p{
    font-size: 3vh;
  }

  #card{
    width: 100%;
  }

  small{
    display: none;
  }

  .botonMostrar{
    background-color: beige;
    color: #000;
  }

  #sobre-mi{
    font-size: 2.25vh;
  }

}

@media only screen and (min-width: 1366px){
  #developer{
    width: 10%;
  }

  h3 {
    margin: 0.5rem auto;
    width: 50%;
    text-align: left;
  }

  .caja{
    width: 30%;
  }

  #card{
    width: 40%;
  }

  .botonMostrar{
    display: none;
  }

}
